<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus qui cupiditate assumenda. Ex iure blanditiis non
        sint id, laudantium, culpa ullam laborum quas magni, consectetur veritatis repudiandae quibusdam quam eos?Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Doloribus praesentium fuga quidem totam enim doloremque ipsum
        alias cum? Delectus inventore soluta magnam eum. Rem voluptatum molestias deserunt fugit hic quisquam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti optio natus praesentium, odit quo,
        exercitationem nobis et voluptatum alias molestiae aliquam aliquid debitis voluptas quisquam placeat ut
        excepturi! Laudantium, ipsa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil autem harum
        consectetur inventore laborum excepturi quos non obcaecati voluptate consequatur dolorem dolore, cupiditate,
        debitis quasi quo nostrum corrupti expedita sed!</p>
</body>

</html>